* {
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {
    margin: 0;
    margin-left: 36px;
    width: 550px;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}


.gray{
    color: #918E9B;
    padding: 0px 2px;
}

.bold{
    font-weight:bold;
}

.nav--logo {
    max-width: 100px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 26px;
}

.top--img{
    max-width: 395px;
    margin-bottom: 40px;

}

.top--title{
    font-weight: 600;
    font-size: 36px;
    margin: 0;

}

.top--content{
    max-width: 320px;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 50px;
}

.card {
    flex: 0 0 auto; 
    margin: 0px;
    width: 175px;
    font-size: 12px;
    position: relative;
    margin-right: 18px;
    
}

.card--img{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.star{
    width: 14px;
    padding-right: 3px;
}


.card--sign{
    position: absolute;
    background-color: white;
    border-radius: 2px;
    top: 6px;
    left:6px;
    padding: 1px;
    text-align: center;
    font-weight: bold;

}

.card--price{
    margin-top: auto;
}

.card--title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards{
    display: flex;
    
}
